:root {
  --primary-color: rgb(208, 255, 229);
}
.hero {
  background-image: url(/images/tranquil-l_25030-65564.avif);
  padding-top: 200px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  text-align: center;
}
.my-name {
  padding-top: 15px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  color: var(--primary-color);
  font-size: 55px;
}
.job-description {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--primary-color);
}
.my-goal {
  font-style: italic;
  color: var(--primary-color);
  font-size: 18px;
}
.features {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.topic {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-style: italic;
}
.picture-profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 30px;
}
.hero-2 {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.about {
  text-align: center;
}
.my-info p {
  text-align: center;
}
.information {
  text-align: center;
}
.detailed {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.about,
.information {
  color: grey;
}

@media (max-width: 768px) {
  .features {
    text-align: center;
  }

  .hero {
    text-align: center;
  }
  .hero-2 p {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.content-container {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.title {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.contact-details {
  text-align: center;
}
.contact-content {
  background-color: #c3cfe2;
}
